* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-color: black;
    z-index: 1;
}

header img {
    width: 500px;
}



header nav ul {
    list-style: none;
    display: flex;
    font-size: 20px;
    margin: 10px;
    margin: 20px;

}

header nav ul li a {
    text-decoration: none;
    list-style: none;
    color: white;
    margin: 20px;
    padding: 10px;

}

header nav ul li a:hover {
    border-radius: 25px;
    background: rgba(158, 5, 5, 0.671);
    width: 10px;
}

.hero div {
    border: 5px solid rgb(104, 5, 5);
    margin: 20px;
    box-shadow: 8px 14px 19px 7px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 8px 14px 19px 7px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 8px 14px 19px 7px rgba(0, 0, 0, 0.8);
}

.title h2 {
    text-align: center;
    margin: 20px;
    background-color: #610606;
    font-size: 30px;
    color: #fff;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;



}

footer {
    background-color: #000;
    margin-top: 10px;
    display: flex;


}

footer img {
    width: 500px;
}

footer p {
    color: white;
    margin: 20px;
}

.monkey {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 500;

}

.monkey h1 {
    font-size: 40px;
    margin-left: 30px;
}

.monkey p {
    font-size: 16px;
    margin-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.monkey img {
    margin: 40px;
    box-shadow: 8px 14px 19px 7px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 8px 14px 19px 7px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 8px 14px 19px 7px rgba(0, 0, 0, 0.8);
}

.monkey h1 span {
    color: #9e0a0a;
    text-decoration: none;

}

.hero {
    display: flex;
    margin: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hero img {
    margin: 20px;
    box-shadow: 8px 14px 19px 7px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 8px 14px 19px 7px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 8px 14px 19px 7px rgba(0, 0, 0, 0.8);

}


.hero h2 {
    background-color: black;
    color: #fff;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hero p {
    margin: 20px;
    text-align: center;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f5f3f3;
    background-color: #0000009d;

}

.hero a {
    text-decoration: none;
    background-color: #000;
    border: 5px solid #610606;
    padding: 10px;
    color: #fff;

}



.dos {
    display: flex;
    justify-content: end;
    background-color: black;


}

.mono {
    width: 400px;
    height: 500px;
    margin: 50px;
    margin-top: 110px;



}

.dos h2 {

    background-color: #610606;
    padding: 10px;
    color: #fff;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 30px;
    text-align: center;
    text-decoration: underline;
    border: 5px solid white;


}

.titulodos {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
}

.dos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dos p {
    color: white;
    font-size: 16px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 40px;

}

.dos div {
    width: 100%;
    height: 700px;

}

.cubo {
    width: 800px;
    height: 80px;

}

.tamaño {
    width: 500px;
    margin: 30px;
    display: flex;

}

.contacto {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fixed img {
    width: 50px;
    height: 50px;

}

.fixed {
    border: none;
    position: fixed;
    bottom: 150px;
    right: 95px;

}


SPAN {
    color: #9e0a0a;
    text-decoration: underline;
}

.conteiner-form {
    flex-direction: column;
    text-align: center;
    width: 25%;
}

.conteiner-form a {
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: rgb(52, 109, 19);
    font-weight: 700;
}

.conteiner-form form .campo,
textarea {
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border: 1px solid#610606;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
    margin-top: 10px;
}

.info-form h2 {
    background: #000;
    border: 4px solid #610606;
    color: #fff;
    width: 100%;
    padding: 5px;
}

.conteiner-form .btn-enviar {
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: #610606;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    /* transition: all 300ms ease; */
}

.grid-galeria {

    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 250px;
    gap: 15px;
}

.grid-galeria div img {
    border: 5px solid black;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-item {
    position: relative;
    text-align: center;

}

.grid-item h4 {
    position: absolute;
    bottom: 0;
    color: #fff;
    background-color: #00000098;
    width: 100%;
    padding: 5px;
}

.img-4 {
    grid-column: span 2;
}

.img-3 {
    grid-row: span 2;
}

.original {
    border: 5px solid black;
    text-align: center;
    font-size: 20px;
    grid-area: original;
    display: flex;


}

.original img {
    border: 5px solid black;
    width: 400px;
    height: 300px;
    margin: 30px;
    box-shadow: 8px 14px 19px 7px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 8px 14px 19px 7px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 8px 14px 19px 7px rgba(0, 0, 0, 0.8);
}

.one {
    text-align: center;
    grid-area: aside;
}

.one h3 {
    border: 5px solid black;
    background-color: #000;
    color: #fff;
    margin: 10PX;
    padding: 5px;

}

.one p {
    margin-top: 25px;
}

.repetido {
    border: 5px solid black;
    text-align: center;
    font-size: 20px;
    grid-area: repetido;
    display: flex;
}

.repetido img {
    border: 5px solid black;
    width: 400px;
    height: 300px;
    margin: 30px;
    box-shadow: 8px 14px 19px 7px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 8px 14px 19px 7px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 8px 14px 19px 7px rgba(0, 0, 0, 0.8);
}


.paginados {

    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    grid-template-rows: 400px 400px;
    grid-template-areas:
        "original original aside"
        "repetido repetido aside";
    gap: 10px
}


.aa {
    border: none;
}

.originaltext {
    border: none;
}

.originaltext h3 {
    margin: 12px;
    border: 5px solid black;
    background-color: #000;
    color: #fff;
    margin-bottom: 50px;

}


.original p {
    margin: 25px;
}

.repeitfo p {
    margin: 25px;
}

.aside {
    border: 5px solid black;
}

.aside p {
    margin: 25px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    font-size: 20px;
    font-weight: 200;
    text-decoration: underline;
    margin-right: 200px;
}


.red img {
    width: 50px;
    height: 50px;
    margin: 15px;
}

@media screen and (max-width: 1650px) {


    .hero img {
        flex-direction: column;
        align-items: center;

    }

    .repetido img {
        width: 300px;
        height: 200px;
    }


    .hero {
        flex-direction: column;
    }




}

@media screen and (max-width: 1570px) {

    .titular h1 {
        font-size: 45px;
    }

    .monkey {
        flex-direction: column;
    }

    .monkey div {
        margin: 20px;

    }

    .conteiner-form {
        width: 70%;
    }

    .fixed {
        display: none;
    }



    @media screen and (max-width: 1380px) {
        header {
            flex-direction: column;
            display: flex;
            justify-content: start;
            align-items: center;
        }

        header nav {
            display: flex;
            justify-content: center;
            align-items: center;
        }



        .titular {
            height: 450px;
        }

        .primero {
            flex-direction: column;
        }

        .paginados {
            display: flex;
            flex-direction: column;
        }

        .aa {
            display: none;
        }

        .grid-galeria {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: 250px;
        }

        .img-4 {
            grid-column: span 1;
        }

        .img-3 {
            grid-row: span 1;
        }

        .img-7 {
            grid-column: span 2;
        }

        .dos {
            flex-direction: column;
        }

        .dos {
            align-items: center;
        }
    }

    @media screen and (max-width: 942px) {
        header {
            position: static;
        }



        header nav ul {
            flex-direction: column;
        }

        footer {
            flex-direction: column;
            text-align: center;
        }

        header nav ul li a:hover {
            text-decoration: underline;
            color: #610606;
            background: none;
        }

        header img {
            width: 370px;

        }

        footer img {
            width: 370px;
        }

        footer p {
            font-size: 20px;
            font-weight: 200;
            text-decoration: underline;
            margin-right: 0px;
        }

        .monkey img {
            width: 390px;
            height: 590px;
        }

        .contacto {
            flex-direction: column;
        }

        .titular h1 {
            font-size: 30px;
        }

        .titular {
            height: 350px;
        }

        .primero img {
            width: 300px;
            height: 200px;
        }

        .original {
            flex-direction: column;
            align-items: center;
        }

        .repetido {
            flex-direction: column;
            align-items: center;
        }


        .paginados p {
            font-size: 12px;

        }

        .original img {
            width: 300px;
            height: 200px;


        }

        .grid-galeria {
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: 250px;
        }

        .img-4 {
            grid-column: span 1;
        }

        .img-3 {
            grid-row: span 1;
        }

        .img-7 {
            grid-column: span 1;
        }


    }

    @media screen and (max-width: 600px) {
        .tamaño {
            width: 340px;
            margin: 30px;
        }
    }


    @media screen and (max-width: 454px) {


        .primero img {
            width: 300px;
            height: 225px;

        }
    }}